{% extends "shop/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center mt-5 pt-5">
    <div class="col-md-5 col-lg-4">
        
        <div class="glass-card p-5">
            
            <h2 class="text-center mb-5 neon-title">
                <i class="fas fa-lock me-2"></i> მომხმარებლის შესვლა
            </h2>
            
            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="mb-4">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    
                    {{ field|add_class:"form-control-custom" }} 
                    
                    {% for error in field.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary-custom w-100 fw-bold btn-lg mt-3">
                    <i class="fas fa-sign-in-alt"></i> შესვლა
                </button>
                
                <div class="text-center mt-3">
                    <a href="{% url 'signup' %}" class="text-warning text-decoration-none" style="font-weight: 500;">
                        არ გაქვთ ანგარიში? დარეგისტრირდით!
                    </a>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}